html {
    background-color: #141414;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

body {
    background-color: #1f1f1f;
    padding: 30px;
    width: 300px;
    border-radius: 10px;
}

a{
    background-color: #333333;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    border-radius: 5px;
}

a:hover {
    background-color: rgb(218, 8, 8);
    color: black;
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 0.8rem;
    color: rgb(241, 11, 11);
}

p {
    font-size: 0.7rem;
    color: grey;
}