li {
    color:greenyellow;
    width: 500px;
    border: 1px solid greenyellow;
    border-radius: 12px;
}

p{
color: rgb(134, 223, 122);

}

#meu-id {
    background-color: rgb(176, 165, 165);
    color: white;
    margin-right: 3.1rem;
    
}

.minha-class {
    background-color: rgb(28, 184, 28);
    margin-right: 3.1rem;
}

.fundo-vermelho {
    
    color: palegreen;
}

.fundo-vermelho:hover {
    background-color: rgb(17, 179, 111);
    color: palegreen;
}

html {
    font-size: 15px;
    font-family: "Truculenta", sans-serif;
    background-color: white;
}

h1{
    font-size: 40px;
    text-align: center;
    color: rgb(10, 156, 95);
    text-shadow: 3px 3px 1px rgb(24, 31, 19);
}

p, li {
    font-size: 16px;
    line-height: 1;
    letter-spacing: 1px;
    padding: 3px;
    margin: 3px;
    margin-bottom: 9px;
}

body {
    width: 600px;
    height: max-content;
    margin: 0 auto;
    background-color: black;
    padding: 0 40px 40px 40px;
    border: 7px solid greenyellow;
    border-radius: 20px;
}

img {
    display: block;
    margin: 0 auto;
    
}

.div-video{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    margin-left: 0;
    margin-right: 3.1rem;
}
a{
    text-transform:uppercase ;
    color: greenyellow;
    text-decoration: none;
    font-size: 20px;
    
}
