* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  border: none;
  text-decoration: none;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

.content {
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: space-around;
  background-color: #48b4d4;
  position: sticky;
  align-items: center;
  top: 0;
  opacity: 90%;
}

.content h2 {
  text-transform: uppercase;
  color: white;
  font-size: 2.4rem;
  padding: 0.5rem;
}
.content p {
  color: white;
  font-size: 1.7rem;
  text-align: center;
  margin: 4rem 2rem 4rem 2rem;
}
.logo {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  display: flex;
  margin-left: 15rem;
  margin-right: 0.6rem;
  /* background-color: red; */
  
  
}
.logo img {
  width: 55px;
  height: 100%;
  border-radius: 9px;
  /* background-color: red; */
 
}
.bx-cart-add{
  color: white;
  cursor: pointer;
  font-size: 40px;
  text-align: center;
  align-items: center;
  justify-content: center;


}


.catalogo {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(12, 12, 12, 0.7),rgba(15, 15, 15, 0.7)), url(../img/foto\ fundo\ ricos.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  
}

.itens-catalogo {
  width: 1000px;
 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 
}


.itens-catalogo .info {
  background-color: rgb(221, 221, 221);
  border-radius: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1.5rem;
  opacity: 87%;
  height: 32rem;
  width: 28rem;
  transition: 0.9s;
}

.itens-catalogo .info h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-decoration: none;

}
.itens-catalogo .info h5 {
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}
.itens-catalogo .info h5 span {
  color: #47afcf;
  margin-left: 1rem;
  text-decoration: underline;
  font-weight: 700;
}
.itens-catalogo .info button {
  width: 200px;
  height: 30px;
  background-color: #48b4d4;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
  margin-top: 0.5rem;
  transition: all 200ms ease-in;
}
.itens-catalogo .info button:hover {
  background-color: white;
  color: #48b4d4;
  text-transform: uppercase;
  font-size: 1.7rem;
}
.itens-catalogo .info img{
  width: 20rem;
  height: 18rem;
  border-radius: 0.5rem;
  transition: 1s;
}
.itens-catalogo .info img:hover{
  width: 25rem;
  height: 20rem;
  border-radius: 0.8rem;
}
footer{
  height: 35px;

  font-size: 1.4rem;
  
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #48b4d4;
 
}
footer a{
  text-decoration: none;
  color:#000;
  font-size: 1.8rem;
}



.tela-carrinho{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1f1e1f;
  display: flex;
  justify-content: center;
  color: #48b4d4;
}
.ocultar-tela-carrinho{
  display: none;
}
.tela-carrinho{
  color: #48b4d4;
}
.tela-carrinho table{
  width: 100%;
  /* height: 100%; */
  border: 2px solid #000;
  margin: 0 auto;
}
.tela-carrinho td{
  font-size: 2rem;
  text-align: center;
  border-bottom: 2px solid #48b4d4;
}
.tela-carrinho p{
  margin-top: 1px;
  font-size: 2rem;
}
.tela-carrinho th{
  margin-top: 1px;
  font-size: 2rem;
}
.tela-carrinho button{
  background-color: #48b4d4;
  color: #000000;
  border: 1px solid #1f1e1f;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: bold;
}

/* .tela-carrinho .bi{
  cursor: pointer;
} */
.content-carrinho{
  width: 100%;
  height: 100%;
  text-align: center;
  /* margin-top: 10px; */
}
.content-carrinho h2{
  padding: 20px 0;
}
.content-carrinho td img{
  width: 100%;
  max-width: 90px;
  max-height: 100px;
  /* min-width: 40px; */
  padding-top: 10px;
  border-radius: 15%;
  /* height: 50px; */
}
.rodape-carrinho{
  background-color: #48b4d4;
  /* border-radius: 7px; */
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.rodape-carrinho .btn-home{
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  /* margin-top: 10px; */
  color: #000;
  margin: 4px 0px 4px 10px;
  

}
.rodape-carrinho h1{
  color: #000;
  margin: 0 20px 0px 0px;
  font-size: 1.8rem;
}
/* 
tbody  .remove, tbody td{

  text-align: center;
} */
/* tbody .qty button{
  /
  border-radius: 15px;
  padding: 5px 5px;
  margin-bottom: 6px;
}
tbody .remove button {
  border-radius: 15px;
  padding: 5px 5px;
  margin-bottom: 6px;
  
} */

#total-pedido {
  font-size: 2rem; }

  